@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    height: 100vh;
 
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    height: 200px;
    width: 100px;
    font-family: "Roboto", serif;
    width: 100%;
     
    border: 3px solid rgb(4, 142, 15);
}
td, th {
    color: gray;
    border: 1px solid rgb(217, 205, 205);
    padding: 10px; 
    border: 3px solid rgb(9, 150, 20);
}

th{
    color: rgb(0, 0, 0);
    background-color: orange;
}
td{
    text-align: center;
}

tr:nth-child(5){
    border-bottom: 2px solid rgb(67, 201, 201);
}

.second-td{
    color: black;
    background-color: orange;
}