*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(89, 87, 87);
}


section{
    background-color: palevioletred;
    border:5px solid black;
}

main{
    border: 5px solid black;
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;

    
}
#first{
    background-color: cornflowerblue;
    grid-column-start: 1;
    grid-column-end: 4;
}

#second{
    background-color: coral;
    grid-column-start: 1;
    grid-column-end: 3;
}


#last{
    background-color: blueviolet;
    grid-column-start: 1;
    grid-column-end: 4;
} 