 /* 3) შექმენით პარაგრაფი რომელსაც წემოდანაც და გვემოდანაც ექნება წყვეტილი ხაზებით გასმული ხაზი ამ ხაზის ფერი უნდა იყოს წითელი  */
 

*{
    background-color: black;
}
.pingvini{
    font-size:25px;
    color:white;
    text-decoration:underline overline;
    text-decoration-color:red;
}